<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Cart</title>
</head>
<body>
<h1>Bonjour <span th:text="${user.username}">Utilisateur</span>, voici votre panier</h1>

<div th:if="${cart.getCartItems().isEmpty()}">
    <p>Votre panier est vide.</p>
</div>

<div th:if="${!cart.getCartItems().isEmpty()}">
    <table>
        <thead>
        <tr>
            <th>Produit</th>
            <th>Prix unitaire</th>
            <th>Quantité</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.product.name}">Nom du produit</td>
            <td th:text="${item.product.price}">0.00</td>
            <td th:text="${item.quantity}">1</td>
            <td>
                <form th:action="@{'/cart/remove/' + ${item.product.id}}" method="post">
                    <button type="submit">Retirer</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Total : <span th:text="${total}">0.00</span> €</h3>
    <div th:if="${errorMessage}" style="color:red; font-weight:bold;">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/cart/clear}" method="post">
        <button type="submit">Vider le panier</button>
    </form>

    <form th:action="@{/cart/checkout}" method="post">
        <button type="submit">Passer commande</button>
    </form>
</div>

<a href="/">Back to the marketplace</a>
</body>
</html>